<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1>It's so ez</h1>

<h1 th:text="${something}"></h1>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="person: ${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>